body {
  align-items: center;
  justify-content: center;
}

.wavesVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: width 0.5s, height 0.5s;
  z-index: -1;
}

.welcome {
  color: rgb(104, 104, 104);
  margin: 70px;
  font-size: 100px;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  justify-content: space-between;

}

.backgroundvideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: width 0.5s, height 0.5s;
  z-index: -1;
}

.signInContainer,
.registerContainer,
.storyContainer,
.genreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 608px;
  width: 320px;
  margin-top: 100px;
}

.signInContainer {
  padding: 80px;
}

.signInH1Container,
.registerH1Container {
  background-color: rgb(104, 104, 104);
  height: 70px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  color: white;
}

.signInH1Container {
  margin-bottom: 30px;
}

.storyH1Container,
.genreH1Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(104, 104, 104);
  color: white;
  height: 42px;
  width: 170px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.chooseSongContainer {
  display: flex;
  flex-direction: column;
}

.storyH1,
.genreH1 {
  font-size: 18px;
}

.signInH1,
.registerH1 {
  font-size: 40px;
}

.profilePhoto {
  width: 90px;
  border-radius: 50%;
  margin: 30px;
}

input {
  margin: 10px;
  height: 40px;
  background-color: #fdfdfd;
  border: 0;
  border-radius: 5px;
}

input::placeholder {
  padding-left: 5px;
}

.registerEnd,
.signinEnd {
  display: flex;
  flex-direction: column;
  margin: 25px;
  align-items: center;
}

.aRegisterSignup {
  font-size: 13px;
  margin: 5px;
}

.chooseSong {
  display: flex;
  padding: 5px;
}

.checkboxIsStory {
  color: rgb(104, 104, 104);
}

.storyText {
  width: 250px;
  height: 70px;
  margin-bottom: 10px;
  background-color: #fdfdfd;
  border-radius: 5px;
}

.storyText::placeholder {
  padding: 5px;
}

.genreCheckBoxes {
  color: rgb(104, 104, 104);
  font-size: 15px;
}

.threeGenres {
  display: flex;
  justify-content: space-between;
}

.genres {
  width: 300px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.genre {
  display: flex;
  align-items: center;
}